/*Admin notice*/



.eye-notice strong {
    color: #085c08;
    font-weight: 700;
    font-size: 14px;
}
strong.gdnews {
    display: block;
    font-size: 18px;
    text-decoration: underline;
    color: #da0000;
}
.eye-notice.notice img {
    overflow: hidden;
    margin-right: 20px;
    padding: 10px;
    background: linear-gradient(-45deg, #ffbba6, #ffa6c9, #c6f0ff, #9dffe8);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: #fff;
    width: 80px;
    float: left;
}
.eye-notice strong.upgbtn {
    color: #b00b0b;
}

a.button.button-primary.quickbtn {
    background: #bd0808;
    font-weight: 700;
    letter-spacing: 1px;
    border-color: red;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

button.button.button-info.mgad-dismiss {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

i.notice-icon.dashicons-before.dashicons-smiley {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: -5px;
}