.mg-sct-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.item-visiable {
    opacity: 1 !important;
    visibility: visible !important;
}
.mg-sct-btn {
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    padding: 20px;
    max-width: 5cm;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.25);
}

.mg-sct-btn-icon-left .mg-sct-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mg-sct-btn-icon-right .mg-sct-btn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.mg-sct-btn-icon-bottom .mg-sct-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.mg-sct-btn-icon-top .mg-sct-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mg-sct-btn-align-fixed .mg-sct-btn {
    visibility: hidden;
    position: fixed;
    z-index: 99999999;
    background: #fff;
}

.mg-sct-btn-align-fixed-right .mg-sct-btn {
    left: auto;
}

.mg-sct-btn-align-fixed-left .mg-sct-btn {
    right: auto;
}
section.mg-sct-btn-parent {
    position: absolute;
    left: -100px;
}

.elementor-editor-active section.mg-sct-btn-parent {
    position: relative;
    left: 0;
}